#*#
*.ncb
*.suo
*.user
*.filters
*.swp
*~
~$$*
*.as
*.log
*.err
log/
code/res/
code/robot.bat
nbproject/
#visual studio
/lib
obj/
tmp/
bin/
code/lib/
Debug/
Release/
.DS_Store
#QT
code/qtgameserver/GeneratedFiles/
*/.DS_Store
#eclipse
.metadata/
#.project
#.cproject
.settings

#robot
code/robot.bat
*.pyc

/kunlun_web/nbproject/private/
code/af-server.ib_ini

code/robot/interface.cpp
Runtime/

!log_web/vendor/psr/log
!log_web/vendor/psr/log/psr/log
!log_web/vendor/bin
!log_web/vendor/laravel/framework/src/Illuminate/Log
